:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.496);
}

.App-link {
  color: #b18ad2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

body {
  background: url("images/wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #301381;

  background: linear-gradient(
    130deg,
    transparent 0% 33%,
    var(--g1) 66%,
    var(--g2) 83.5%,
    var(--g3) 100%
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-width: 100%;
}

.react-chatbot-kit-chat-bot-message {
  width: auto;
}

.react-chatbot-kit-chat-container {
  order: 1;
  width: 100%;
  padding-top: 2rem;
}

.react-chatbot-kit-chat-inner-container {
  background-color: rgba(255, 255, 255, 0.715);
}

.react-chatbot-kit-chat-bot-message {
  margin-right: auto;
  margin-left: 0;
  background-color: #6f4394;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #6f4394;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #6f4394;
}

img.logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  transform: translate(-50%, -50%);
}

.logo-title {
  position: absolute; 
  top: 3%; 
  left: 50%; 
  margin-top: 5%; 
  transform: translate(-50%, -50%);
}

.bot-avatar {
  -webkit-filter: hue-rotate(40deg);
  filter: hue-rotate(40deg);
}

img.image-message {
  width: 50%
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

.option-button {
  margin: 5px;
  border-radius: 10px;
  padding: 8px;
  border-color: #6f4394;
  background: transparent;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.option-button:hover {
  margin: 5px;
  border-radius: 10px;
  padding: 8px;
  border-color: #6f4394;
  background: transparent;
  text-align: center;
  background-color: rgb(175, 175, 175);
}

.datepicker-container {
  display: inline-flex;
}

.bot-page-button-container {
  order: 0;
}

#bot-page-button {
  margin-right: 10px;
}

#bot-page-button-show-hide {
  margin: 6px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  border-color: transparent;
  background: #5ba4fc;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#bot-page-button-show-hide:hover {
  margin: 6px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: #5897ee;
}

#bot-page-button-show-hide:active {
  margin: 6px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: #1970ea;
}

#bot-page-button-start-over {
  margin: 6px;
  border-radius: 5px;
  padding: 5px;
  color: white;
  border-color: transparent;
  background: #fc3d39;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#bot-page-button-start-over:hover {
  margin: 6px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: #e33437;
}

#bot-page-button-start-over:active {
  margin: 6px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: #be1013;
}

.information-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
  width: 100%;
}

.location-container {
  order: 0;
  background-color: #efefef;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.location-container:hover {
  background-color: rgb(175, 175, 175);
  border-radius: 5px;
}

#location {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  border-color: #6f4394;
  background: transparent;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.bot-page-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  width: 100%;
}
